/* young-serif-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Young Serif";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/young-serif-v2-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/outfit-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/outfit-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/outfit-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(30, 54%, 90%);
  --container-color: hsl(0, 0%, 100%);
  --extra-color: hsl(332, 51%, 32%);
  --secondary-color: hsl(330, 100%, 98%);
  --tertiary-color: hsl(14, 45%, 36%);
  --text-color: hsl(30, 10%, 34%);
  --strong-color: hsl(24, 5%, 18%);
  --divider-color: hsl(30, 18%, 92%);
  --link-color: hsl(228, 45%, 44%);
}

/* 
- Stone 600:

 */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  font-family: "Outfit", sans-serif;
}

.container {
  width: 100%;
  max-width: 46rem;
  padding: 2.5rem;
  background-color: var(--container-color);
  color: var(--text-color);
  border-radius: 0.75rem;
}

.recipe-section {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--divider-color);
  margin-bottom: 2rem;
}

.no-border {
  border-bottom: none;
  margin-bottom: 1.5rem;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 0.75rem;
  margin-bottom: 2.5rem;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  letter-spacing: 0.1rem;
}

h1 {
  color: var(--strong-color);
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

h2 {
  color: var(--tertiary-color);
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 1.75rem;
}

.preparation-section {
  background-color: var(--secondary-color);
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.preparation-title {
  color: var(--extra-color);
  font-family: "Outfit", serif;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.preparation ul {
  padding: 0 1.2rem;
  line-height: 1.6;
}

ul,
ol {
  padding-left: 1.5rem;
}

li {
  padding-left: 0.5rem;
  padding-bottom: 0.75rem;
  line-height: 1.6;
  list-style: square;
}

li::marker {
  color: var(--tertiary-color);
  font-weight: 600;
}

.preparation li::marker {
  color: var(--extre-color);
}

li:last-child {
  padding-bottom: 0;
}

h3 {
  color: var(--heading3-color);
  /* padding: 0 1rem; */
}

li strong {
  color: var(--strong-color);
}

hr {
  color: var(--text-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

tr {
  border-bottom: 1px solid var(--divider-color);
}

tr:last-child {
  border-bottom: none;
}

td,
th {
  padding: 0.75rem 2rem;
  text-align: left;
}

th {
  font-weight: 400;
  color: var(--text-color);
  width: 50%;
}

td {
  color: var(--tertiary-color);
  font-weight: 700;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: var(--link-color);
}
